/*!
 * font-awesome-animation - v0.2.1
 * https://github.com/l-lin/font-awesome-animation
 * License: MIT
 */
 /* FLOAT */
  
 @-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/**/

@-webkit-keyframes floatfast {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floatfast {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 4s linear infinite;
  animation: float 4s linear infinite;
}

.faa-float-fast.animated,
.faa-float-fast.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: floatfast 8s linear infinite;
  animation: floatfast 8s linear infinite;
}

.faa-float.animated.faa-fast,
.faa-float.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-fast {
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite;
}

.faa-float.animated.faa-slow,
.faa-float.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-float.faa-slow {
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite;
}
